# Assignment 2

For this assignment you'll be looking at 2017 data on immunizations from the CDC. Your datafile for this assignment is in [assets/NISPUF17.csv](assets/NISPUF17.csv). A data users guide for this, which you'll need to map the variables in the data to the questions being asked, is available at [assets/NIS-PUF17-DUG.pdf](assets/NIS-PUF17-DUG.pdf). **Note: you may have to go to your Jupyter tree (click on the Coursera image) and navigate to the assignment 2 assets folder to see this PDF file).**

## Question 1
Write a function called `proportion_of_education` which returns the proportion of children in the dataset who had a mother with the education levels equal to less than high school (<12), high school (12), more than high school but not a college graduate (>12) and college degree.

*This function should return a dictionary in the form of (use the correct numbers, do not round numbers):* 
```
    {"less than high school":0.2,
    "high school":0.4,
    "more than high school but not college":0.2,
    "college":0.2}
```

In [128]:
import pandas as pd
df = pd.read_csv(r'./NISPUF17.csv')
df.head()

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
0,1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0

In [129]:
def proportion_of_education():
    # your code goes here
    # YOUR CODE HERE
    less_than_high_school = len(df[df['EDUC1'] == 1]['EDUC1'])
    high_school = len(df[df['EDUC1'] == 2]['EDUC1'])
    more_than_high_school = len(df[df['EDUC1'] == 3]['EDUC1'])
    college = len(df[df['EDUC1'] == 4]['EDUC1'])
    
    
    sum_of_all = less_than_high_school + high_school + more_than_high_school + college
    less_than_high_school = less_than_high_school / sum_of_all
    high_school = high_school / sum_of_all
    more_than_high_school = more_than_high_school / sum_of_all
    college = college / sum_of_all
    
    return {'less than high school': less_than_high_school, 
           'high school': high_school,
           'more than high school but not college': more_than_high_school,
            'college': college
           }

In [130]:
assert type(proportion_of_education())==type({}), "You must return a dictionary."
assert len(proportion_of_education()) == 4, "You have not returned a dictionary with four items in it."
assert "less than high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "high school" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "more than high school but not college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."
assert "college" in proportion_of_education().keys(), "You have not returned a dictionary with the correct keys."

## Question 2

Let's explore the relationship between being fed breastmilk as a child and getting a seasonal influenza vaccine from a healthcare provider. Return a tuple of the average number of influenza vaccines for those children we know received breastmilk as a child and those who know did not.

*This function should return a tuple in the form (use the correct numbers:*
```
(2.5, 0.1)
```

In [29]:
print(df['CBF_01'].info())
# 1 - yes 
# 2 - no 
# 99 - don't know
# 77 -  missing
df['P_NUMFLU'].unique()

<class 'pandas.core.series.Series'>
RangeIndex: 28465 entries, 0 to 28464
Series name: CBF_01
Non-Null Count  Dtype
--------------  -----
28465 non-null  int64
dtypes: int64(1)
memory usage: 222.5 KB
None

array([nan,  3.,  0.,  2.,  1.,  4.,  5.,  6.])

In [38]:


def average_influenza_doses():
    cbf_flu = df[['CBF_01', 'P_NUMFLU']]
    
    cbf_flu1 = cbf_flu[cbf_flu['CBF_01'] == 1].dropna()
    cbf_flu2 = cbf_flu[cbf_flu['CBF_01'] == 2].dropna()
    
    flu1 = cbf_flu1['P_NUMFLU'].sum() / len(cbf_flu1['P_NUMFLU'])
    flu2 = cbf_flu2['P_NUMFLU'].sum() / len(cbf_flu2['P_NUMFLU'])
    
    
    
    return (flu1, flu2)

(1.8799187420058687, 1.5963945918878317)

In [39]:
assert len(average_influenza_doses())==2, "Return two values in a tuple, the first for yes and the second for no."

## Question 3
It would be interesting to see if there is any evidence of a link between vaccine effectiveness and sex of the child. Calculate the ratio of the number of children who contracted chickenpox but were vaccinated against it (at least one varicella dose) versus those who were vaccinated but did not contract chicken pox. Return results by sex. 

*This function should return a dictionary in the form of (use the correct numbers):* 
```
    {"male":0.2,
    "female":0.4}
```

Note: To aid in verification, the `chickenpox_by_sex()['female']` value the autograder is looking for starts with the digits `0.0077`.

HAD_CPOX- did child ever have chicken pox\
SEX - sex\
P_NUMVRC â€“ total number of varicella doses

 1 - yes\
 2 - no\
 99 don't know\
 77 missing

0.013614502404735478

In [88]:
def chickenpox_by_sex():
    # YOUR CODE HERE
    data = df[['SEX', 'HAD_CPOX', 'P_NUMVRC']]
    male_df = data[data['SEX']==1]
    doses_min = male_df[male_df['P_NUMVRC'] >= 1]
    
    chicken_pox_YES = doses_min[doses_min['HAD_CPOX'] == 1]
    chicken_pox_NO = doses_min[doses_min['HAD_CPOX'] == 2]
    
    male_ratio = len(chicken_pox_YES) / len(chicken_pox_NO)
    

    female_df = data[data['SEX']==2]
    doses_min = female_df[female_df['P_NUMVRC'] >= 1]
    
    chicken_pox_YES = doses_min[doses_min['HAD_CPOX'] == 1]
    chicken_pox_NO = doses_min[doses_min['HAD_CPOX'] == 2]
    
    female_ratio = len(chicken_pox_YES) / len(chicken_pox_NO)

    
    
    return {'male': male_ratio, 'female': female_ratio}

chickenpox_by_sex()

{'male': 0.009675583380762664, 'female': 0.0077918259335489565}

In [11]:
assert len(chickenpox_by_sex())==2, "Return a dictionary with two items, the first for males and the second for females."

## Question 4
A correlation is a statistical relationship between two variables. If we wanted to know if vaccines work, we might look at the correlation between the use of the vaccine and whether it results in prevention of the infection or disease [1]. In this question, you are to see if there is a correlation between having had the chicken pox and the number of chickenpox vaccine doses given (varicella).

Some notes on interpreting the answer. The `had_chickenpox_column` is either `1` (for yes) or `2` (for no), and the `num_chickenpox_vaccine_column` is the number of doses a child has been given of the varicella vaccine. A positive correlation (e.g., `corr > 0`) means that an increase in `had_chickenpox_column` (which means more noâ€™s) would also increase the values of `num_chickenpox_vaccine_column` (which means more doses of vaccine). If there is a negative correlation (e.g., `corr < 0`), it indicates that having had chickenpox is related to an increase in the number of vaccine doses.

Also, `pval` is the probability that we observe a correlation between `had_chickenpox_column` and `num_chickenpox_vaccine_column` which is greater than or equal to a particular value occurred by chance. A small `pval` means that the observed correlation is highly unlikely to occur by chance. In this case, `pval` should be very small (will end in `e-18` indicating a very small number).

[1] This isnâ€™t really the full picture, since we are not looking at when the dose was given. Itâ€™s possible that children had chickenpox and then their parents went to get them the vaccine. Does this dataset have the data we would need to investigate the timing of the dose?

In [132]:
df

,Unnamed: 0,SEQNUMC,SEQNUMHH,PDAT,PROVWT_D,RDDWT_D,STRATUM,YEAR,AGECPOXR,HAD_CPOX,...,XVRCTY2,XVRCTY3,XVRCTY4,XVRCTY5,XVRCTY6,XVRCTY7,XVRCTY8,XVRCTY9,INS_STAT2_I,INS_BREAK_I
0,1,128521,12852,2,NaN,235.916956,1031,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,10741,1074,2,NaN,957.353840,1068,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,220011,22001,2,NaN,189.611299,1050,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,86131,8613,1,675.430817,333.447418,1040,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,1.0,2.0
4,5,227141,22714,1,482.617748,278.768063,1008,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28460,28461,19141,1914,2,NaN,21.188088,2062,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28461,28462,121401,12140,2,NaN,26.503010,2004,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28462,28463,128831,12883,2,NaN,27.520652,2004,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28463,28464,82921,8292,2,NaN,22.390587,2062,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28464,28465,244621,24462,2,NaN,27.520652,2004,2017,NaN,2,...,,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [133]:
def corr_chickenpox():
    import scipy.stats as stats
    import numpy as np
    import pandas as pd
    
    df_1 = df[df["HAD_CPOX"] <= 2]
    df_1 = df_1[~df_1["P_NUMVRC"].isna() & ~df_1["HAD_CPOX"].isna()]

    # here is some stub code to actually run the correlation
    corr, pval=stats.pearsonr(df_1["HAD_CPOX"], df_1["P_NUMVRC"])
    
    # just return the correlation
    return corr

corr_chickenpox()

0.07044873460148007

In [120]:
assert -1<=corr_chickenpox()<=1, "You must return a float number between -1.0 and 1.0."